#ContactMe {
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-color: #7979a8;
    color: #e7dede;
  }
  .in-contact {
      width: 70%;
      margin: auto;
      text-align: center;
  }
  .icon-div{
    display: flex;
    width: 45%;
    margin: auto;
    justify-content: space-between;
  }
  .M-icon-div{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
  }
  .divider{
    padding-bottom: 1.5rem;
    border-bottom: 2px solid;
  }
  .contact-text{
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
  }
    .M-contact-text{
    margin-top: 1rem;
    font-weight: 600;
    font-size: .9rem;
  }